{
	"webcache": {
		"enabled" : true,
		"db" : "../data/webcache.db"
	},
	"postgis": {
		"username" : "xxxx",
		"host" : "xxxx",
		"password" : "xxxx",
		"db_features" : "xxxx",
		"db_osm" : "xxx"
	}
}
