{
	"debug": false,
	"webcache": {
		"enabled" : true,
		"db" : "../data/webcache.db"
	},
	"postgis": {
		"username" : "xxxx",
		"host" : "xxxx",
		"password" : "xxxx",
		"database" : "xxx"
	},
	"postgisosm": {
		"username" : "xxxx",
		"host" : "xxxx",
		"password" : "xxxx",
		"database" : "xxx"
	},
	"google" : {
		"api_key" : "XXXXX"
	},
	"endpoint" : {
		"a" : "/my/absolute/root/to/a.webmapp.it",
		"k" : "/my/absolute/root/to/k.webmapp.it"
	},
	"route_password" : {
		"private_key" : "2K7TGxm98QBTga7DB6kDh4YSAv39rYN5"
	},
	"crypt" : {
		"method" : "aes-128-ecb",
		"key" : "XXXX"
	}

}
